blabla.sh
# SBT files
*.class
*.log
*.war
*.jar
*.ear
*.metals
# Target directories
target/
kappa/target
kappa/.bsp
kappa/.bloop/
# If you have any other target directories in submodules, you might want to include those as well

# IDE specific files (I use neovim btw)
.idea/
*.iml
*.ipr
*.iws
*.hprof
kappa-2024-12-24-214428_lttyVAkP.mp4
# Archive files
archive/
kubernetes
# OS-specific files
.DS_Store
Thumbs.db

# Other configuration files
*.swp
*.swo
*.bak
